.mapManager {
  height: 100%;
  display: flex;
  flex-flow: column;

  .mapList {
    min-height: 30%;
    max-height: 50%;
    flex-basis: calc(40% - 1px);
  }

  .layerManager {
    min-height: 30%;
    max-height: 69%;
    flex-basis: calc(60% - 1px);
  }
}
