<div class="journal-containter" >
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding draggable="true" (dragstart)="startDrag($event, node)">
      <li class="mat-tree-node">
        <div class="thumbnail-container">
          <img class="thumbnail" mat-icon-button [src]="getThumbnailLink(node.item.id)">
        </div>
        <trpg-journal-node class="node-container" [isOwner]="isOwner" [journalItem]="node.item"
          (clickItem)="clickItem(node)" (editItem)="editItem($event)" (deleteItem)="deleteItem($event)" >
        </trpg-journal-node>
      </li>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button [attr.aria-label]="'toggle ' + node.item.name" matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <trpg-journal-node class="node-container" [isOwner]="isOwner" [journalItem]="node.item"
        (addJournalItem)="addJournalItemToParent($event)" (clickItem)="clickFolder(node)" (editItem)="editItem($event)"
        (deleteItem)="deleteItem($event)"></trpg-journal-node>
      <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar">
      </mat-progress-bar>
    </mat-tree-node>
  </mat-tree>
  <trpg-speed-dial-fab *ngIf="isOwner" [mainIcon]="'add'" [subIcons]="subIcons" (clickSubIcon)="subIconClicked($event)">
  </trpg-speed-dial-fab>
</div>
