@import "~src/styles/variables.scss";

#chat-container{
    height: 100%;
    width: 100%;
}

.message-container{
    height: calc(100% - 60px);
    max-width: 100%;
    overflow-y: auto;
}

::ng-deep .mat-list .mat-list-item .mat-line{
    word-wrap: break-word;
    white-space: pre-wrap;
}

::ng-deep  .mat-list-item{
    height:initial!important;
}

.list-item{
    margin-top: 16px;
    margin-bottom: 16px; 
  }

#message-sender{
    position: absolute;
    height: 30px;
    bottom: 16px;
    width: calc(100% - 32px);
    
    margin:16px;
}

.message-input{
    width: 100%;
}

::ng-deep .message-input .mat-form-field {
    width: 100%;
}

.username{
    color: $accent; 
    margin-left: 16px;
}