<div class="layerManagerContainer">
  <div class="header">
    <h3>
      Layers
    </h3>
    <div class="actions">
      <div class="action" (click)="addNewLayer()">
        <mat-icon class="material-icons">add</mat-icon>
      </div>
    </div>
  </div>
  <div class="listItemsContainer">
    <mat-nav-list id="root-layers" role="list" cdkDrop cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let layer of layers" cdkDrag>
        <trpg-layer-list-item *ngIf="layer.type === layerType.Default" (cancelAdd)="cancelLayerAdd($event)"
          (completeAdd)="addLayer($event)" (completeEdit)="updateLayer($event)" (delete)="deleteLayer($event)" (select)="selectLayer(layer)"
          [edit]="layer === editLayer" [layer]="layer" [selected]="selectedLayer === layer"></trpg-layer-list-item>
      </div>
    </mat-nav-list>
  </div>
</div>
