.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  padding: 4px;
}

.content {
  width: 40vw;
  max-height: 80vh;
  max-width: calc(80vw - 48px);
  padding: 0px 24px 0px 24px;
  height: 600px;
}

.dragger {
  height: 100%;
  cursor: grab;
  width: calc(100% - 24px);
}

.clickPointer {
  cursor: pointer;
}

.mat-dialog-actions{
  padding-left: 16px;
}

::ng-deep .mat-dialog-container {
  padding: 0;
  overflow:hidden;
}