<div id="chat-container">
  <div #scrollMe class="message-container">
    <mat-list id="chat-list">
      <div class="list-item" *ngFor="let message of messages">
        <app-plain-text *ngIf="message.commandResult === null" [chatMessage]="message"></app-plain-text>
        <app-normal-roll-result *ngIf="message.commandResult !== null && message.commandResult.type === 2"
          [chatMessage]="message"></app-normal-roll-result>
      </div>
    </mat-list>
  </div>
  <div id="message-sender">
    <mat-divider></mat-divider>
    <mat-form-field class="message-input">
      <input matInput placeholder="Message" (keyup.enter)="sendMessage()" [(ngModel)]="chatMessage" value="">
    </mat-form-field>
    <button class="send-button" mat-raised-button (click)="sendMessage()">Send</button>
  </div>
</div>