<mat-menu #mapMenu="matMenu">
  <button mat-menu-item (click)="onAddNewSubLayer()">Add layer</button>
  <button mat-menu-item (click)="startRename()">Rename</button>
  <button mat-menu-item (click)="delete.emit(layer)">Delete</button>
</mat-menu>

<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header  (contextmenu)="triggerMenu($event)">
      <mat-panel-title *ngIf="!edit">
        {{layer.name}}
      </mat-panel-title>
      <div [hidden]="!edit">
        <mat-form-field appearance="standard">
          <input matInput (keyup.enter)="$event.target.blur();" (blur)="renameLayer()" [formControl]="name" required
             #groupNameField>
          <mat-error *ngIf="name.invalid">The name is required</mat-error>
        </mat-form-field>
      </div>
      <div #menuButton style="position: absolute">
        <button mat-button [matMenuTriggerFor]="mapMenu" style="display: hidden">
        </button>
      </div>
    </mat-expansion-panel-header>
    <trpg-layer-list-item 
      *ngFor="let subLayer of layer.layers"
      (cancelAdd)="cancelSubLayerAdd($event)"
      (completeAdd)="completeAddSubLayer($event)"
      (completeEdit)="completeEdit.emit($event)"
      (delete)="deleteSubLayer($event)"
      [edit]="subLayer === editLayer" 
      [layer]="subLayer"></trpg-layer-list-item>
  </mat-expansion-panel>
</div>
