<h1 mat-dialog-title cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle>Handout</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Handout name" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button >No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>
