<div class="handoutContainer">
  <ng-container *ngIf="dialogState === states.New">
    <h1 mat-dialog-title>Handout</h1>
    <form class="dialogContent" [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Handout name" formControlName="name" required cdkFocusInitial>
        <mat-error *ngIf="name.invalid">The name is required</mat-error>
      </mat-form-field>
    </form>
  </ng-container>
  <ng-container *ngIf="dialogState === states.Edit">
    <div mat-dialog-content class="content">
      <img *ngIf="imageToUpload" [src]="imageToUpload">
      <img *ngIf="dialogState === states.Edit && !imageToUpload" [src]="getImageLink(data.id)">
      <div class="notes">
        <h1 mat-dialog-title>Handout</h1>
        <form class="dialogContent" [formGroup]="form">
          <mat-form-field>
            <input matInput placeholder="Handout name" formControlName="name" required cdkFocusInitial>
            <mat-error *ngIf="name.invalid">The name is required</mat-error>
          </mat-form-field>
          <input placeholder="Image" type="file" (change)="onImageChange($event)">
          <mat-form-field>
            <mat-label>Can see</mat-label>
            <mat-select formControlName="canSee" multiple>
              <mat-option *ngFor="let player of players" [value]="player.userId">{{player.username}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Can edit</mat-label>
            <mat-select formControlName="canEdit" multiple>
              <mat-option *ngFor="let player of players" [value]="player.userId">{{player.username}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Description"></textarea>
          </mat-form-field>
          <mat-form-field *ngIf="isOwner">
            <mat-label>Owner notes</mat-label>
            <textarea matInput formControlName="ownerNotes" placeholder="Description"></textarea>
          </mat-form-field>
        </form>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="dialogState === states.View">
    <div mat-dialog-content class="content">
      <img [src]="getImageLink(data.id)">
      <div class="notes">
        <h1 mat-dialog-title>{{data.name}}</h1>
        <div class="description">
          {{data.description}}
        </div>
      </div>
    </div>
  </ng-container>
</div>
