.characterSheetContainer {
    displaY: flex;
    flex-flow: column;
    justify-content: start;
    height: 100%;
  }
  
  .dialogContent {
    display: flex;
    flex-flow: column;
  }
  
  .mat-dialog-content {
    max-height: 100%;
  }
  
  .content {
    overflow-y: auto;
    padding: 0;
    height: 100%;
  
    img {
      width: 100%;
    }
  
    .notes {
      padding: 24px;
    }
  }
  