
<div class="journal-containter">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <trpg-journal-node class="node-container" [journalNode]="node" (addJournalFolder)="addJournalFolder($event)"></trpg-journal-node>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <trpg-journal-node class="node-container" [journalNode]="node" (addJournalFolder)="addJournalFolder($event)"></trpg-journal-node>
            </div>
            <ul [class.invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>

  <trpg-speed-dial-fab [mainIcon]="add" [subIcons]="subIcons" (clickSubIcon)="subIconClicked($event)"></trpg-speed-dial-fab>
</div>